html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: auto;
    background-color: white;
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Hahmlet', serif; */
} 
body{
    background-color:rgb(255, 249, 240);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

/* for all */

/* start heading section */

.header  .nav .nav-logo {
    text-decoration: none;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    
}
.header .nav .name{
    text-decoration: none;
    font-size: 40px;
    color: white;
    padding-left: 10px;
    
    
}


.nav .nav-Logo{
    width: 20px;
    display: flex;
}
.nav-Logo a h2{
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 3px 0;
    color: rgb(224, 215, 215);
}
.nav-Logo a h2 span{
    font-size: 2rem;
    color: rgb(252, 155, 9);
    font-family: 'Hahmlet' serif;
}
.nav .nav-menu{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 10px;
}
.nav .nav-menu ul{

}
.nav .nav-menu li{
}
.nav .nav-menu li a{
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: bold;
    color: rgb(233, 224, 224);
    margin-left: 35px;
    transition: all .5s;
    padding-top: 44px;
}
.nav .nav-menu li a:hover{
    color: rgb(255, 155, 0);
}

.menu-btn{
    color: white;
    font-size: 2rem;
    padding: 11px;
    display: none;
    cursor: pointer;
}

#click{
    display: none;
}

/* heading section ends */

/* home section starts */



.home{

}
.home .home-img{
    background-image: url(/src/menu\ 2.jpg) ;

    height: 100vh;
    background-size: cover;

    position: relative;
    z-index: 1;
}
.home-img .home-content{
    padding-top: 120px;
    
}
.home-content .home-text{
    background-color: rgba(240, 255, 255, 0.041);
}
.home-content .home-text h1 span{
    color: rgb(17, 17, 4);
    text-shadow:0, 5px, 10px rgb(22, 11, 11);
    text-transform: uppercase;
    font-size: 10rem;
    font-size: 4rem;
    padding-left: 20px;
}
.home-content .home-text p{
    color: rgb(8, 8, 8);
    text-transform: capitalize;
    font-size: 1.5rem;
    width: 600px;
    padding: 10px;
}
.home-content .home-text .home-btn{

}
.home-content .home-text .home-btn a{
    color: rgb(3, 0, 0);
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    border: 2px solid rgb(247, 4, 4);
    border-radius: 80px;
    padding: 8px 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.home-content .home-text .home-btn a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;

    background-image: linear-gradient(to right, rgb(255,0,98), rgb(4,0,255));
    z-index: -1;
    transition: all .5s ease-in-out;
}
.home-content .home-text .home-btn a:hover::before{
    width: 100%;
    left: 0;
}
#logo{
    height: 100px;
}
.header{
    padding: 10px;
}

/* home section ends  */

/* special section */

.special{
}
.special .special-dish{
}
.special .special-dish h2{
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: #666;
    padding: 20px 0;
}
.special .special-dish h2 span{
    color: orangered;
}
.special .special-dish .special-item{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    padding-bottom: 20px;
}
.special-item .item{
    max-width: 220px;
    background-color: rgb(238,236,234);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 15px 0 #666;
    border: 2px solid rgb(255, 118,6);
    border-radius: 10px;
}
.special-item .item .dish-theme{
    width: 100%;
    padding: 20px;
    transition: all .3s ease;
}